body {
  background-color: #F9F6EE;
}

* {
  margin: 0px;
  padding: 0px;
  font-family: Montserrat, sans-serif;
}

.nav {
  padding-left: 25%;
  background-color: #F9F6EE;

}

ul {
  list-style: none;
  display: flex;
  align-items: center;
}

ul li {
  display: inline-block;
  display: flex;
  align-items: center;
  padding: 20px 20px 0px 20px;
  font-size: 15px;
  font-weight: 150;
}

a {
  color: black;
  display: flex;
  justify-content: center;
}

.r1{
  align-content: center; 
  justify-content: space-between;
}
.c1{
  padding-top: 50px;
   display: flex;
    justify-content: center;  
    margin-top: 80px;
}
.c2{
  height: 600px; 
  width: 90%;
   background-color: rgb(189, 253, 93); 
   border-radius: 50px;
}
.c3{
  height: 180px;
   width: 100%;
}
.circle {
  height: 230px;
  width: 230px;
  border-radius: 100%;
  background-color: #000000;
  padding: 40px;
  float: right;
  margin-right: 40px;
  text-align: center;
  margin-top: -5%;
}
.data{
  text-align: center;
}
.h-one{
  font-size: 60px;
  font-weight: bolder;
   color: white; 
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.h-two{
  font-size: 18px;
  font-weight: 700;
   color: white; 
   font-weight: 800;
}
.h-three{
  font-size: 18px;
  font-weight: 700;
   color: white; 
   font-weight: 800;
}
.sam{
  height: 100px; 
  width: 100%;
}
.circle h1 {
  font-size: 60px;
  font-family: sans-serif;
  font-weight: bold;
  color: black;
  margin-top: 1%;
}

.circle h2 {
  font-size: 60px;
  font-family: sans-serif;
  font-weight: bold;
  color: black;
  margin-top: 1%;
}

.container {
  height: 600px;
  border: 2px black;
  display: grid;
  row-gap: 20px;
  column-gap: 10px;
  grid-area: "sbr sbr sbr sbr";
}

.box {
  border: 2px black;
}

.a {
  color: rgb(255, 255, 255);
  font-weight: bold;
  margin-left: 25px;
}

.b {
  color: white;
  font-weight: bold;
  margin-left: 25px;
  margin-top: 10px;
  font-size: 18px;
}

.c {
  color: white;
  font-weight: bold;
  margin-left: 25px;
  font-size: 3.75rem;
  word-wrap: break-word;
  position: relative;
}

.b1 {
  background-color: black;
  color: white;
  height: 50px;
  width: 30%;
  margin-left: 25px;
  margin-top: 10px;
  border-radius: 40px;
}

.a1 {
  display: flex;
  justify-content: center;
  padding-top: 8%;
  font-weight: bold;
  font-size: 50px;
  word-spacing: 5px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.a2 {
  display: flex;
  justify-content: center;
  padding-top: 8px;
  font-weight: 900;
}

a:hover {
  color: #ffe5a2;
}

.a {
  color: #DAA520;
  font-weight: bold;
}

.cl12 {
  display: flex;
  justify-content: space-evenly;
}

.cl0 {
  display: flex;
  justify-items: flex-start;
}

.cl1 {
  display: flex;
  align-content: center;
  background-color: #ffffff;
  height: 520px;
  width: 30%;
  border-radius: 40px;
}

.cl2 {
  display: flex;
  align-content: center;
  background-color: #ffffff;
  height: 520px;
  width: 30%;
  border-radius: 40px;
}

.cl4 {
  display: flex;
  justify-content: center;
  justify-items: flex-end;
}

.rimg {
  display: flex;
  justify-content: center;
}

.img {
  height: 520px;
  width: 30%;
  display: flex;
  justify-items: center;

  margin-top: 20px;
  height: 300px;
  width: 80%;
  border-radius: 40px;
}
.r2img{
  display: flex;
  justify-content: flex-end;
}

.hptxt {
  color: rgb(11, 11, 11);
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}